<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/cartItems.css}">
</head>
<body>
<div th:replace="layout/header :: header"></div>
 <div class="container cart-page">

  <h1 class="page-title">장바구니</h1>

  <!-- 장바구니 비었을 때 -->
  <div class="empty-cart" th:if="${#lists.isEmpty(cartItems)}">
    <p>장바구니가 비어있습니다.</p>
    <a href="/products" class="btn">쇼핑하러 가기</a>
  </div>

  <!-- 장바구니 있을 때 -->
  <div class="cart-wrapper" th:unless="${#lists.isEmpty(cartItems)}">

    <!-- 왼쪽: 상품 리스트 -->
    <div class="cart-items">

      <div class="cart-item" th:each="item : ${cartItems}">

        <img th:src="${item.product.imageUrl}" alt="상품이미지" />

        <div class="item-info">
          <p class="item-name" th:text="${item.product.name}">상품명</p>
          <p class="item-price"
             th:text="|₩${#numbers.formatInteger(item.product.price,0,'COMMA')}|">가격</p>

          <div class="item-quantity">
            <button th:onclick="|updateQuantity(${item.id}, -1)|">-</button>
            <span th:id = "${item.id}" th:text="${item.quantity}">1</span>
            <button th:onclick="|updateQuantity(${item.id}, 1)|">+</button>
          </div>
        </div>

        <div class="item-total">
          <p th:id = "|itemTotalPrice${item.product.id}|" th:text="|₩${#numbers.formatInteger(item.product.price * item.quantity,0,'COMMA')}|"></p>
          <button class="remove-btn"
                  th:onclick="|removeItem(${item.id} )|">
            삭제
          </button>
        </div>

      </div>

    </div>

    <!-- 오른쪽: 결제 요약 -->
    <div class="cart-summary">

      <div class="summary-box">
        <p>
          <span>총 상품 금액</span>
          <span id = "totalPrice" th:text="|₩${#numbers.formatInteger(totalPrice,0,'COMMA')}|"></span>
        </p>
        <p>
          <span>배송비</span>
          <span>₩3,000</span>
        </p>
        <hr />
        <p class="total">
          <span>총 결제 금액</span>
          <span id = "finalPrice" th:text="|₩${#numbers.formatInteger(totalPrice + 3000,0,'COMMA')}|"></span>
        </p>
      </div>

      <button class="btn checkout-btn">주문하기</button>

    </div>

  </div>

</div>
<div th:replace="layout/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>