<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
 <div th:replace="layout/header :: header"></div>

<div class="container">

  <div class="login-wrapper">

    <div class="login-card">

      <div class="login-title">
        로그인
      </div>

      <form class="login-form" action="/api/login" method="post">

        <input type="text" name="username" placeholder="아이디">

        <input type="password" name="password" placeholder="비밀번호">

        <button class="btn">로그인</button>

      </form>

      <div class="login-extra">
        계정이 없나요?
        <a href="/signup">회원가입</a>
      </div>

    </div>

  </div>

</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>