<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>회원가입</title>

<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/css/style.css">

</head>
<body>

	<div class="container">

		<div class="signup-wrapper">

			<div class="signup-card">

				<div class="signup-title">회원가입</div>

				<form class="signup-form" action="/api/users" method="post">

					<div class="signup-field username-field">
						<input type="text" id="username" name="username" placeholder="아이디"
							required>
						<button type="button" class="btn check-btn"
							onclick="checkUsername()">중복확인</button>
					</div>

					<div id="usernameMessage" class="check-message"></div>

					<input id="pwd" type="password" name="password" placeholder="비밀번호">
					<input id="check_pwd" type="password" name="passwordConfirm"
						placeholder="비밀번호 확인" oninput="reEnterPwd(this)" /> <span
						id="reEnterMsg" class="msg hidden"></span> <input type="text" name="name"
						placeholder="이름" /> <input type="email" name="email"
						placeholder="이메일"> <input type="text" name="phone"
						placeholder="휴대폰 번호"> <input type="text" name="address"
						placeholder="주소"> <input type="text" name="addressDetail"
						placeholder="상세 주소">

					<button class="btn">회원가입</button>

				</form>

				</form>

				<div class="signup-extra">
					이미 계정이 있나요? <a href="/login">로그인</a>
				</div>

			</div>

		</div>

	</div>
	<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</body>
</html>