<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<div class="container header-inner">
			<div class="logo">DAEWON SHOP</div>

			<nav>
				<a href="/">홈</a> <a href="/products">상품</a> <a href="/cart">장바구니</a>
				<a href="/orders">주문내역</a>

				<!-- ⭐ 마이페이지 (로그인 시만) -->
				<a sec:authorize="isAuthenticated()" href="/mypage">마이페이지</a> <a
					sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>

				<div sec:authorize="isAuthenticated()" class="user-box">
					<span sec:authentication="name"></span>님

					<form th:action="@{/logout}" method="post">
						<button type="submit" class="logout-btn">로그아웃</button>
					</form>
				</div>
			</nav>
		</div>
	</header>
</body>
</html>